* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
  background-color: hsl(0, 0%, 100%);
  padding: 100px;
}

#main {
  display: flex;
  margin: 0px auto 6rem auto;
  width: 1240px;
}

#presentation {
  width: 40%;
}

#presentation h1 {
  color: hsl(300, 43%, 22%);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

#presentation p {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  line-height: 1.4;
}

#rating {
  margin-left: 10rem;
}

#rating > div {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#rating > div:last-child {
  margin-bottom: 0rem;
}

#rating .paragraph {
  color: hsl(300, 43%, 22%);
  font-weight: 500;
  margin-left: 1.7rem;
}

#report {
  position: relative;
  left: 2.6rem;
}

#best {
  position: relative;
  left: 5.2rem;
}

#reviews-container {
  width: 1240px;
  display: flex;
  margin: 0px auto;
  margin-bottom: 10rem;
}

.reviews {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  margin-right: 1.6rem;
  width: 353px;
  border-radius: 8px;
}

.description {
  display: grid;
  grid-template-columns: 10% 50%;
  grid-template-rows: 10% 50%;
  column-gap: 1rem;
  row-gap: 0.8rem;
}

.description img {
  width: 100%;
  border-radius: 50%;
}

.name {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 0.9rem;
  grid-column-start: 2;
  grid-row-start: 1;
}

.verified {
  color: hsl(333, 80%, 67%);
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.9;
  grid-column-start: 2;
  grid-row-start: 2;
}

.opinion {
  color: hsl(300, 24%, 96%);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.8;
}

#irene {
  position: relative;
  top: 1rem;
}

#anne {
  position: relative;
  top: 2rem;
}

@media (max-width:1350px) {
  body {
    padding-top: 80px;
    font-size: 18px;
    overflow-y: hidden;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 19px;
  }
  
  body {
    padding: 45px;
    overflow-x: hidden;
  }
  
  #main, #reviews-container {
    width: 1200px;
  }
  
  #main {
    margin-right: 0rem;
  }
  
  #presentation h1 {
    font-size: 3.2rem;
  }

  #presentation p {
    font-size: 1.2rem;
  }

  #rating {
    margin-left: 6rem;
  }

  #rating > div {
    padding: 0.7em;
  }
  
  #rating img {
    width: 12%;
  }

  #rating .paragraph {
    font-size: 1.1rem;
    margin-left: 0.2rem;
  }


  .description {
    row-gap: 1.2rem;
  }

  .reviews {
    width: 352px;
  }

  .name {
    font-size: 1rem;
  }
  
  .verified {
    font-size: 0.95rem;
  }
  
  .opinion {
    font-size: 0.85rem;
  }
  
} 

@media (max-width: 800px) {
  html {
    font-size: 30px;
  }

  body {
    padding: 15px;
    margin: 0px;
  }

  #main {
    width: 100%;
    flex-flow: column;
    margin: 0px auto;
    margin-bottom: 1.1rem;
  }

  #presentation {
    width: 95%;
    text-align: center;
  }

  #presentation h1 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  #presentation p {
    font-size: 0.60rem;
    margin-bottom: 0.8rem;
  }

  #rating {
    margin: 0px auto;
    width: 95%;
  }
  
  #rating > div {
    position: static;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
  }

  #rating img {
    display: inline-block;
    width: 5%;
    margin-bottom: 0.4rem;
  }

  #rating .paragraph {
    font-size: 0.55rem;
  }

  #reviews-container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0px auto;
    margin-bottom: 0.5rem;
  }

  .reviews {
    position: static !important;
    padding: 1rem;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
  }

  .description {
    row-gap: 0.62rem;
    column-gap: 0.6rem;
  }

  .name {
    font-size: 0.51rem;
  }

  .verified {
    font-size: 0.45rem;
  }

  .opinion {
    font-size: 0.43rem;
  }
}
